---
import Layout from "@/layouts/Layout.astro";
import { getTopics } from "@/lib/microcms";
const response = await getTopics({
  fields: ["id", "title", "description", "publishedDate", "featuredImage"],
});
import BreadCrumb from "@/components/BreadCrumb.astro";
import Mv from "@/components/Mv.astro";
import TopicCard from "@/components/TopicCard.astro";
const title = "";
const description = "";
const og_image = "";
---

<Layout title={title} , description={description} og_image={og_image}>
  <section class="sokenkai__mv">
    <div class="l-container">
      <BreadCrumb
        items={[
          { text: "TOP", link: "/" },
          { text: "トピック", link: "/topics" },
        ]}
      />
      <Mv enTitle="Topic" jaTitle="トピック" />
    </div>
  </section>

  <section id="topicsList" class="p-topicsList">
    <div class="l-container">
      <div class="p-topicsList__wrapper">
        <!-- map関数で展開する -->
        {
          response.contents.map((content: any) => (
            <TopicCard content={content} />
          ))
        }
      </div>
    </div>
  </section>
</Layout>
