---
import Layout from "@/layouts/Layout.astro";
const title = "";
const description = "";
const og_image = "";
---

<Layout title={title} , description={description} og_image={og_image}>
	<section class="sokenkai__blogMv">
        <div class="l-container">
          <BreadCrumb
            items={[
              { text: "TOP", link: "/" },
              { text: "活動報告", link: "/blog" },
              { text: "記事タイトル", link: "" },
            ]}
          />
          <h1>記事のタイトル記事のタイトル</h1>
          <p>2024.08.31</p>
          <img src="" alt="" loading="eager" width="" height="">
        </div>
      </section>
      
      <section id="blogContent" class="p-blogContent">
        
      </section>
</Layout>
