---
import Layout from "@/layouts/Layout.astro";
const title = "";
const description = "";
const og_image = "";
---

<Layout title={title} , description={description} og_image={og_image}>
	<!-- ヘッダーここから -->
	<header></header>
	<!-- ヘッダーここまで -->

	<main>
	<!-- ファーストビューここから -->
	<section id="fv" class="p-fv"></section>
	<!-- ファーストビューここまで -->

	<!-- ニュースここから -->
	<section id="news" class="p-news"></section>
	<!-- ニュースここまで -->

	<!-- アクティビティここから -->
	<section id="activity" class="p-activity"></section>
	<!-- アクティビティここまで -->

	<!-- エクスペリエンスここから -->
	<section id="experience" class="p-experience"></section>
	<!-- エクスペリエンスここまで -->

	<!-- レポートここから -->
	<section id="report" class="p-report"></section>
	<!-- レポートここまで -->

	<!-- トピックここから -->
	<section id="topic" class="p-topic"></section>
	<!-- トピックここまで -->

	<!-- ここから -->
	<section id="faqs" class="p-faqs"></section>
	<!-- ここまで -->

	<!-- コンタクトここから -->
	<section id="contact" class="p-contact"></section>
	<!-- コンタクトここまで -->
	</main>

	<!-- フッターここから -->
	<footer></footer>
	<!-- フッターここまで -->
</Layout>
