---
import Layout from "@/layouts/Layout.astro";

import Btn from '@/components/Btn.astro';

const title = "";
const description = "";
const og_image = "";
---

<Layout title={title} description={description} og_image={og_image}>
	<!-- ヘッダーここから -->
	<header></header>
	<!-- ヘッダーここまで -->

	<main>
	<!-- ファーストビューここから -->
	<section id="fv" class="p-fv"></section>
	<!-- ファーストビューここまで -->

	<!-- ニュースここから -->
	<section id="news" class="p-news"></section>
	<!-- ニュースここまで -->

	<!-- アクティビティここから -->
	<section id="activity" class="p-activity"></section>
	<!-- アクティビティここまで -->

	<!-- エクスペリエンスここから -->
	<section id="experience" class="p-experience"></section>
	<!-- エクスペリエンスここまで -->

	<!-- レポートここから -->
	<section id="report" class="p-report"></section>
	<!-- レポートここまで -->

	<!-- トピックここから -->
	<section id="topic" class="p-topic"></section>
	<!-- トピックここまで -->

	<!-- FAQここから -->
	<section id="faqs" class="p-faqs"></section>
	<!-- FAQここまで -->

	<!-- コンタクトここから -->
	<section id="contact" class="p-contact">
		<div class="contact-container">

			<div class="contact-container-heading">
				<h1>Contact</h1>
				<p>お問い合わせ</p>
				<span class="underline"></span>
			</div>
				<p class="form-explanation">
					体験・入会は、早稲田の公式Instagramもしくは公式Twitterに、「体験したい」「入会したい」
					というメッセージをDMで送っていただくか、下記フォームよりお問い合わせください。
					委員会へのお問い合わせもこちらより受け付けております。
				</p>


			<!-- <form action="https://docs.google.com/forms/d/e/1FAIpQLSd3Xg_shbCITyzkzYpfWrRTMVaN_r1G1Ry2dF79q84PC9IPGg/formResponse" method="post"> -->
			<form id="custom-form" action="https://docs.google.com/forms/d/e/1FAIpQLSd3Xg_shbCITyzkzYpfWrRTMVaN_r1G1Ry2dF79q84PC9IPGg/formResponse" method="POST" target="hidden_iframe" onsubmit="return handleSubmit(event)">
	
				<div class="form-group">
				  <label for="name">お名前/団体名</label>
				  <div class="necessary-label">
					<h3 class="necessary">必須</h3>
					<input type="text" name="entry.1773433501" required>
				  </div>
				</div>
			  
				<div class="form-group">
					<label for="name">メールアドレス</label>
					<div class="necessary-label">
					  <h3 class="necessary">必須</h3>
					  <input type="text" name="entry.1417418675" required>
					</div>
				</div>
				
				<div class="form-group">
				  <label>ご要望</label>
				  <div class="radio-group">
					<input id="join" type="radio" name="entry.160534721" value="入会したい">
					<label for="join">入会したい</label>
			  
					<input id="question" type="radio" name=name="entry.160534721" value="話を聞きたい">
					<label for="question">話を聞きたい</label>
			  
					<input id="other" type="radio" name="entry.160534721" value="その他">
					<label for="other">その他</label>
				  </div>
				</div>
			  
				<div class="form-group">
				  <label for="message">お問い合わせ内容</label>
				  <div class="necessary-label">
					<h3 class="necessary">必須</h3>
					<textarea class="message" name="entry.1778729284" required></textarea>
				  </div>
				</div>
			  
				<div class="button">
				  <button type="submit">送信する</button>
				</div>
			  </form>
			  
			  <script>
				function handleSubmit(event) {
				  event.preventDefault(); // デフォルトの画面遷移を防ぐ
			  
				  const form = event.target;
			  
				  // Google Formsにデータを送信
				  fetch(form.action, {
					method: form.method,
					body: new FormData(form),
				  })
				//   .then((response) => {
				// 	if (!response.ok) {
				// 	  throw new Error('送信エラー: ' + response.status);
				// 	}
				// 	// サクセスメッセージを表示
				// 	document.getElementById('success-message').style.display = 'block';
				// 	form.reset(); // フォームの内容をリセット
				//   })
				.then(() => {
      			// 送信完了後にリダイレクト
				  window.location.href = 'http://localhost:4322/thanks';

				})
				
				  .catch((error) => {
					console.error(error);
					alert('送信中にエラーが発生しました。もう一度お試しください。');
				  });
			  
				  return false; // フォーム送信を止める
				}
			  </script>
			  


		</div>

	</section>
	<!-- コンタクトここまで -->
	</main>

	<!-- フッターここから -->
	<footer></footer>
	<!-- フッターここまで -->
</Layout>
