---
import {Image} from "astro:assets";
import Layout from "@/layouts/Layout.astro";
const title = "TOP";
const description = "";
const text = "hello";

---

<Layout title={title} , description={description}>

	<main>
	

	<!-- ファーストビューここから -->
	<section id="fv" class="p-fv">
		<div class="p-fv-backimg">
			<img src="public/assets/images/decolation.png" alt="">
		<div class="text-overlay">
		<h1>早稲田大学<br>
			学生健康増進互助会</h1>
		<p>Waseda Univ. <br>
			Student Health Promotion <br>
			Mutual Aid Association</p>
		</div>
		</div>
	</section>
	<!-- ファーストビューここまで -->

	<!--カルーセルここから  -->
	<div class="p-fv-carousel">
		<div class="scroll_track">
		  <ul class="scroll_inner">
			<li class="scroll_cont">
			  <img src="public/assets/images/IMG_4518.jpg" alt="">
			</li>
			<li class="scroll_cont">
			  <img src="public/assets/images/Rectangle 108.png" alt="">
			</li>
			<li class="scroll_cont">
			   <img src="public/assets/images/IMG_4519.jpg" alt="">
			</li>
			<li class="scroll_cont">
			   <img src="public/assets/images/Rectangle 108 (1).png" alt="">
			</li>
			<li class="scroll_cont">
			   <img src="public/assets/images/IMG_4518.jpg" alt="">
			</li>
			<li class="scroll_cont">
			  <img src="public/assets/images/Rectangle 108.png" alt="">
			</li>
			<li class="scroll_cont">
			   <img src="public/assets/images/IMG_4519.jpg" alt="">
			</li>
			<li class="scroll_cont">
			   <img src="public/assets/images/Rectangle 108 (1).png" alt="">
			</li>
			<li class="scroll_cont">
			   <img src="public/assets/images/IMG_4518.jpg" alt="">
			</li>
			<li class="scroll_cont">
			   <img src="public/assets/images/Rectangle 108.png" alt="">
			</li>
		  </ul>
	  </div>
	</div>
	<!-- カルーセルここまで -->

	<!-- newsここから -->
	<section id="news" class="p-news">
		<img class="news-deco1" src="public/assets/images/Ellipse 22.png" alt="">
		<img class="news-deco2" src="public/assets/images/Group 41.png" alt="">
		<img class="news-deco3" src="public/assets/images/Group 40.png" alt="">
		<div class="p-l-container">
			<div class="title">
				<h2>News</h2>
				<p>ニュース</p>
			</div>
			<div class="news-tugdate">
				<p class="tug">タグ</p>
				<p class="date">2024.08.18</p>
			</div>
			<p class="p-news-title">早健会のHPを公開しました</p>
			<p class="p-news-content">内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容</p>
			<div class="news-tugdate">
				<p class="tug">タグ</p>
				<p class="date">2024.08.18</p>
			</div>
			<p class="p-news-title">早健会のHPを公開しました</p>
			<p class="p-news-content">内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容</p>
				<div class="news-tugdate">
					<p class="tug">タグ</p>
					<p class="date">2024.08.18</p>
				</div>
				<p class="p-news-title">早健会のHPを公開しました</p>
				<p class="p-news-content">内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容</p>
			<a href="">VIEW MORE</a>
		</div>
	</section>
	<!-- ニュースここまで -->

	<!-- aboutここから -->
	 <section id="about" class="p-about">
		<div class="p-l-container">
		<div class="title">
			<h2>About</h2>
			<p>学健会とは</p>
		</div>
		<p class="p-about-detail">内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容</p>
		</div>
	 </section>
	<!-- aboutここまで -->

	<!-- アクティビティここから -->
	<section id="activity" class="p-activity">
		<div class="title">
			<h2>Activity</h2>
			<p>活動内容</p>
		</div>
		<img src="public/assets/images/IMG_4518.jpg" alt="">
		<p>100円朝食</p>
		<p>時間がない、金銭的に厳しいなどの理由から、朝食を抜きがちな大学生に、「朝食を通して、健康になってもらおう！」という趣旨で実施する本イベント。
			近年、毎年6月、2週間に渡り実施。2024年度は6月18日（火）〜 6月21日（金）に大隈ガーデンハウスにて、6月25日（火）〜 6月28日（金）に理工カフェテリアにて7:50~8:45（8:30受付終了、8:45閉店）で開催。</p>
		<img src="public/assets/images/Rectangle 108.png" alt="">
		<p>歯科検診</p>
		<p>毎年、秋学期に4キャンパス（早稲田・西早稲田・戸山・所沢）で実施。当日は検診に合わせ、ブラッシング指導（模型を使った指導）も同時に行われる。受診料無料、事前申込不要。
		</p>
		<img src="public/assets/images/Rectangle 108 (1).png" alt="">
		<p>健康フェスタ</p>
		<p>「健康」と言っても幅広い。「肉体的」、「精神的」、「社会的」な健康がある。本イベントでは、そんな健康に対してアプローチをし、セミナー等を実施。2023年度は、「心の病気」、「アンガーマネジメント」、「うつ病」に関するセミナーを11月に開催。</p>
		<img src="public/assets/images/IMG_4519.jpg" alt="">
		<p>委員会内イベント</p>
		<p>時間がない、金銭的に厳しいなどの理由から、朝食を抜きがちな大学生に、「朝食を通して、健康になってもらおう！」という趣旨で実施する本イベント。
			近年、毎年6月、2週間に渡り実施。2024年度は6月18日（火）〜 6月21日（金）に大隈ガーデンハウスにて、6月25日（火）〜 6月28日（金）に理工カフェテリアにて7:50~8:45（8:30受付終了、8:45閉店）で開催。</p>
	</section>
	<!-- アクティビティここまで -->

	<!-- エクスペリエンスここから -->
	<section id="experience" class="p-experience">
		<img src="public/assets/images/Ellipse 19.png" alt="" class="circle">
		<div class="p-l-container">
			<div class="title">
				<h2>Experience</h2>
				<p>得られる経験</p>
			</div>
			
			<div class="experient-content">
				<img src="public/assets/images/Vector (2).png" alt="">
				<div class="exp1">
					<p class="subtitle">企業と関わる経験</p>
					<p class="exp-detail">あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、</p>
				</div>
			</div>
			<div class="experient-content">
				<img src="public/assets/images/Vector(3).png" alt="">
				<div class="exp1">
					<p class="subtitle">イベントの企画運営</p>
					<p class="exp-detail">あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、</p>
				</div>
			</div>
		</div>
	</section>
	<!-- エクスペリエンスここまで -->

	<!-- レポートここから -->
	<section id="report" class="p-report"></section>
	<!-- レポートここまで -->

	<!-- トピックここから -->
	<section id="topic" class="p-topic"></section>
	<!-- トピックここまで -->

	<!-- ここから -->
	<section id="faqs" class="p-faqs"></section>
	<!-- ここまで -->

	<!-- コンタクトここから -->
	<section id="contact" class="p-contact"></section>
	<!-- コンタクトここまで -->
	</main>

</Layout>
