---
import Layout from "@/layouts/Layout.astro";

import Btn from '@/components/Btn.astro';

const title = "";
const description = "";
const og_image = "";
---

<Layout title={title} description={description} og_image={og_image}>
	<!-- ヘッダーここから -->
	<header></header>
	<!-- ヘッダーここまで -->

	<main>
	<!-- ファーストビューここから -->
	<section id="fv" class="p-fv"></section>
	<!-- ファーストビューここまで -->

	<!-- ニュースここから -->
	<section id="news" class="p-news"></section>
	<!-- ニュースここまで -->

	<!-- アクティビティここから -->
	<section id="activity" class="p-activity"></section>
	<!-- アクティビティここまで -->

	<!-- エクスペリエンスここから -->
	<section id="experience" class="p-experience"></section>
	<!-- エクスペリエンスここまで -->

	<!-- レポートここから -->
	<section id="report" class="p-report"></section>
	<!-- レポートここまで -->

	<!-- トピックここから -->
	<section id="topic" class="p-topic"></section>
	<!-- トピックここまで -->

	<!-- FAQここから -->
	<section id="faqs" class="p-faqs"></section>
	<!-- FAQここまで -->

	<!-- コンタクトここから -->
	<section id="contact" class="p-contact">
		<div class="contact-container">

			<div class="contact-container-heading">
				<h1>Contact</h1>
				<p>
					体験・入会は、早稲田の公式Instagramもしくは公式Twitterに、「体験したい」「入会したい」
					というメッセージをDMで送っていただくか、下記フォームよりお問い合わせください。
					委員会へのお問い合わせもこちらより受け付けております。
				</p>
			</div>

			<form action="https://docs.google.com/forms/d/e/1FAIpQLSd3Xg_shbCITyzkzYpfWrRTMVaN_r1G1Ry2dF79q84PC9IPGg/viewform?usp=sf_link">
				<div class="form-group">
					<label for="name">お名前/団体名</label>
					<input type="text" name="entry.1773433501"  required>
				</div>

				<div class="form-group">
					<label for="email">メールアドレス</label>
					<input type="email" name="entry.208867270" required>
				</div>

				<div class="form-group">
					<label>ご要望</label>
					<div class="radio-group">
						<input id="join" type="radio" name="entry.1778729284" value="入会したい"/>
						<label for="join">入会したい</label>
						<input id="question" type="radio" name="entry.1778729284" value="話を聞きたい"/>
						<label for="question">話を聞きたい</label>
						<input id="other" type="radio" name="entry.1778729284" value="その他"/>
						<label for="other">その他</label>
						
						<!-- <input id="question" type="radio" name="entry.1778729284" required value="入会したい" />
						<label for="question">話を聞きたい</label>
						<input id="other" type="radio" name="entry.1778729284" required value="その他"/>
						<label for="other">その他</label> -->
					</div>
				</div>

				<div class="form-group">
					<label for="message">お問い合わせ内容</label>
					<input class="message" type="message" name="entry.160534721"/>
					
				</div>


				<div class="button">
				<!-- <button type="submit" class="submit-button">送信する</button> -->
				 <Btn type="submit" title="送信する"/>
				</div>


			</form>
			<script type="text/javascript">
				var submitted = false;
			</script>
			  <iframe name="hidden_iframe" id="hidden_iframe" style="display: none" onload="if(submitted)  {window.location='thanks.astro';}"></iframe>

		</div>

	</section>
	<!-- コンタクトここまで -->
	</main>

	<!-- フッターここから -->
	<footer></footer>
	<!-- フッターここまで -->
</Layout>
