---
import Layout from "@/layouts/Layout.astro";

import Btn from '@/components/Btn.astro';

const title = "";
const description = "";
const og_image = "";
---

<Layout title={title} description={description} og_image={og_image}>
	<!-- ヘッダーここから -->
	<header></header>
	<!-- ヘッダーここまで -->

	<main>
	<!-- ファーストビューここから -->
	<section id="fv" class="p-fv"></section>
	<!-- ファーストビューここまで -->

	<!-- ニュースここから -->
	<section id="news" class="p-news"></section>
	<!-- ニュースここまで -->

	<!-- アクティビティここから -->
	<section id="activity" class="p-activity"></section>
	<!-- アクティビティここまで -->

	<!-- エクスペリエンスここから -->
	<section id="experience" class="p-experience"></section>
	<!-- エクスペリエンスここまで -->

	<!-- レポートここから -->
	<section id="report" class="p-report"></section>
	<!-- レポートここまで -->

	<!-- トピックここから -->
	<section id="topic" class="p-topic"></section>
	<!-- トピックここまで -->

	<!-- FAQここから -->
	<section id="faqs" class="p-faqs"></section>
	<!-- FAQここまで -->

	<!-- コンタクトここから -->

				<div class="contact-container-heading">
					<h1>Contact</h1>
					<p>お問い合わせ</p>
					<span class="underline"></span>
			</div>
				<p class="form-explanation">
					体験・入会は、早稲田の公式Instagramもしくは公式Twitterに、「体験したい」「入会したい」
					というメッセージをDMで送っていただくか、下記フォームよりお問い合わせください。
					委員会へのお問い合わせもこちらより受け付けております。
				</p>
  
  
  <form action="https://ssgform.com/s/1AJvhvMnFWUk" method="post">
							<!-- <div style="display: none;"><input type="text" name="wana" /></div> -->
							<div class="form-group">
								<label>お名前/団体名</label>
									<div class="necessary-label">
										<h3 class="necessary">必須</h3>
										<input type="text" name="お名前" required="required">
									</div>	
							</div>

							<div class="form-group">
							<label>メールアドレス</label>
								<div class="necessary-label">
								<h3 class="necessary">必須</h3>
								<input type="email" name="メールアドレス" required="required">
								</div>
							</div>

							<div class="form-group">
								<label>ご要望</label>
								<div class="radio-group">
									<input type="radio" name="要望" value="入会希望" id="document-true">
									<label for="document-true">入会したい</label>
									<input type="radio" name="要望" value="話を聞きたい"id="document-maybe">
									<label for="document-false">話を聞きたい</label>
									<input type="radio" name="要望" value="その他"id="document-false">
									<label for="document-false">その他</label>
								</div>
							</div>


							<div class="form-group">
							<label style="display: block; margin-bottom: 10px;">お問い合わせ内容</label>
								<div class="necessary-label">
								<h3 class="necessary">必須</h3>
								<textarea class="message" name="お問い合わせ内容" required="required"></textarea>
								</div>
							</div>
							

							<button type="submit" class="form-submit-btn">送信する</button>
						</form>
					</div>
				</form>

	<!-- コンタクトここまで -->
	</main>

	<!-- フッターここから -->
	<footer></footer>
	<!-- フッターここまで -->
</Layout>
