<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="google-site-verification" content="MNnaizlBskLqdrE3S7Lz9lFGxLtfp3UV4j3hwljkfZs" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WEBサイトのタイトルを入力</title>
    <!-- リセットCSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/destyle.css@1.0.15/destyle.css" />
    <!-- swiper CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css">
    <!-- font-awesome CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <!-- google fonts CSS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet">
    <!-- このサイトのCSS -->
    <link rel="stylesheet" href="./style.css">
  </head>
<body>

  <main class="contact_main"></main>
  <div class="section-thanks">
    <h1 class="thanks_h1">お問い合わせありがとうございました。</h1>
    <a href="index.astro" class="thanks_a">トップページへ戻る</a>
  </main>
  </div>
  </main>
</body>
</html>