---
import Layout from "@/layouts/Layout.astro";
import { getNews } from "@/lib/microcms.ts";
const response = await getNews({
  fields: ["id", "title", "description", "publishedDate", "tag" ,"content"],
});
import BreadCrumb from "@/components/BreadCrumb.astro";
import Mv from "@/components/Mv.astro";
import NewsCard from "@/components/NewsCard.astro"
const title = "";
const description = "";
const og_image = "";
---

<Layout title={title} , description={description} og_image={og_image}>
 
    <div class="l-container">
      <BreadCrumb
        items={[
          { text: "TOP", link: "/" },
          { text: "ニュース", link: "/news" },
        ]}
      />
    </div>

  <div class="news-title-bg">  
    <div class="l-container">
      <h1>News</h1>
      <p>ニュース</p>
    </div>
  </div>

    
  

  <section id="newsList" class="p-newsList">
    <div class="l-container">
      <div class="p-newsList__wrapper">
        <!-- map関数で展開する -->
        {
          response.contents.map((content: any) => (
          <NewsCard content={content} />
          ))
        }
      </div>
    </div>
  </section>
</Layout>
