---
const {  } = Astro.props
---
<!-- map関数で展開 -->
<a href="" class="sokenkai__blogcard">
    <img src="" alt="">
    <div class="sokenkai__blogcard__texts">
        <p></p>
        <h3></h3>
        <p></p>
    </div>
</a>