---

---

<header>
    <nav>
        <div class="header-left-side">
            <h0>早稲田大学学生健康増進互助会</h0>
            <p>Waseda Univ. Student Health Promotion Mutual Aid Association</p>
        </div>
        <ul class="header-nav">
            <li><a href="/news">ニュース</a></li>
            <li><a href="/blog">活動報告</a></li>
            <li><a href="/topics/">トピック</a></li>
            <li><img src="public/assets/images/vector.png" alt="X"></li>
            <li><img src="public/assets/images/vector (1).png" alt="insta"></li>
            <li class="header-join">入会はこちら</li>
        </ul>
    </nav>
</header>
