---

---

<header>
    <nav>
        <div>
            <h0 class="header-title">早稲田大学学生健康増進互助会</h0>
            <p>Waseda Univ. Student Health Promotion Mutual Aid Association</p>
        </div>
        <ul>
            <li><a href="">ニュース</a></li>
            <li><a href="">活動報告</a></li>
            <li><a href="">トピック</a></li>
            <li><img src="public/assets/images/vector.png" alt=""></li>
            <li><img src="public/assets/images/vector (1).png" alt=""></li>
        </ul>
    </nav>
</header>
