---
import dayjs from 'dayjs';
const { content } = Astro.props;
const date = dayjs(content.publishedDate).format('YYYY.MM.DD');
console.log(content)
---

<a href={'/news/' + content.id} class="sokenkai__newscard">
  <p>{date}</p>
  <hr>
  <div>
    <figure></figure>
    <div>
      <h4>{content.tag}</h4>
      <h3>{content.title}</h3>
    </div>
  </div>
</a>
