---
import dayjs from 'dayjs';
const { content } = Astro.props;
const date = dayjs(content.publishedDate).format('YYYY.MM.DD');
---

<a href={'/topics/' + content.id} class="sokenkai__topiccard">
  <img src="/assets/banner.png" alt="バナー画像" />
  <p>{date}</p>
  <h3>{content.title}</h3>
</a>
