@charset "UTF-8";

@use "./variables" as *;

// ここにCSSかく
@media (min-width: $breakpoint-md) {
}

//headerここから
header {
  color: #71cedf;
}
.h0 {
  font-size: 24px;
}
.header-nav {
  display: flex;
}
li {
  font-size: 20px;
  padding: 0 14px;
}
header img {
  width: 30px;
  height: 30px;
}
//ここまで

// fvここから
.p-fv {
  background-image: url(images/IMG_4518);
}

// ここまで

//newsここから
//newsここまで

//activityここから
//activityここまで

//experienceここから
//experienceここから

// Breadcrumbここから
.flex {
  display: block;
  display: flex;
  height: 100px;
  color: #000;
  font-family: Avenir;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 2.7px;
}

@media screen and (max-width: $breakpoint-md) {
  .flex {
    height: 26px;
  }
}
// Breadcrumbここまで

/* ------------------- 共通要素ここから ------------------- */

.l-container {
  max-width: $content-width;
  margin: 0 auto;
  padding: 0 15px;
}

.sokenkai {
  &__topiccard {
    display: block;
    max-width: 550px;
  }
}

/* ------------------- トピック一覧ここから ------------------- */

.p-topicsList {
  &__wrapper {
    display: grid;
    column-gap: 30px;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
  @media (max-width: $breakpoint-md) {
    &__wrapper {
      grid-template-columns: 1fr;
    }
  }
}

/* ------------------- トピック一覧ここまで ------------------- */

/* ------------------- トピック記事ここから ------------------- */

.p-topicContent {
  h1 {
  }
  h2 {
  }
  h3 {
  }
  p {
  }
}

/* ------------------- トピック記事ここまで ------------------- */

// ブログ一覧ここから

.blog-entire-page-wrapper {
  background-color: #ffffff;
  background-image: linear-gradient(90deg, #c1deff73 2px, transparent 2px),
    linear-gradient(#c1deff73 2px, transparent 2px);
  background-position: 10px 10px;
  background-size: 32px 32px;
}

.p-blogsList {
  padding-top: 78px;
}

.p-blogsList__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: $breakpoint-md) {
  .p-blogsList {
    padding-top: 20px;
  }

  .blog-entire-page-wrapper {
    background-color: #ffffff;
    background-image: none;
    background-position: 0;
    background-size: 32px 32px;
  }
}

// ブログ一覧ここまで

// ブログ詳細ここから
.blog-detail-entire-wrapper {
  background-color: #ffffff;
  background-image: linear-gradient(90deg, #c1deff73 2px, transparent 2px),
    linear-gradient(#c1deff73 2px, transparent 2px);
  background-position: 10px 10px;
  background-size: 32px 32px;
}

.blog-detail-title {
  height: 100px;
  background: #70acb6;
  padding-left: 120px;
}

.blog-detail-title h1 {
  color: #fff;
  font-family: "Noto Sans JP";
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 9px;
  padding-top: 10px;
}

.blog-detail-title p {
  color: #fff;
  font-family: "Noto Sans JP";
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 5px;
}

.p-blogContent {
  display: flex;
  width: 100%;
}

.blog-main-content {
  width: 80%;
}

.blog-sidemenu {
  margin-top: 80px;
}

.blog-sidemenu-new-link p {
  margin-top: 5px;
  margin-left: 18px;
  color: #000;
  font-family: "Noto Sans JP";
  font-size: 12px;
  font-style: normal;
  font-weight: 100;
  line-height: 172.3%; /* 20.676px */
}

.blog-sidemenu-new-link a {
  margin-left: 18px;
  color: #007bff;
  font-family: "Noto Sans JP";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.blog-sidemenu-dot {
  display: inline;
  margin-right: 5px;
}

.blog-sidemenu-title {
  display: inline;
  color: #000;
  font-family: "Noto Sans JP";
  font-size: 18px;
  font-weight: 500;
}

.blog-sidemenu-list-year {
  margin-top: 8px;
}

.blog-sidemenu-list-year-title {
  margin-left: 18px;
}

.blog-sidemenu-list-year-link {
  display: block;
  margin-left: 35px;
  margin-top: 8px;
  color: #007bff;
  font-family: "Noto Sans JP";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
}

.blog-featured-image {
  width: 530px;
  object-fit: cover;
  margin-top: 80px;
  margin-left: 5%;
}

.blog-table-of-contents {
  color: #000;
  font-family: "Noto Sans JP";
  font-size: 38px;
  font-style: normal;
  font-weight: 400;
  margin-top: 53px;
  margin-left: 5%;
}

.blog-recommendation {
  margin: 0 auto;
}

.blog-recommendation-article {
  background: rgba(178, 237, 255, 0.2);
  width: 300px;
  height: 305px;
}

.blog-recommendation-article h3 {
  text-align: center;
  // margin-top: 20px;
}

.blog-detail-content {
  margin-bottom: 40px;
  margin-left: 5%;
}

.blog-detail-recommend {
  color: #343434;
  text-align: center;
  font-family: Avenir;
  font-size: 64px;
  font-weight: 400;
}

.blog-detail-recommend-subtitle {
  color: #343434;
  text-align: center;
  font-family: "Noto Sans JP";
  font-size: 16px;
  font-weight: 400;
  border-bottom: solid 8px #b2edff;
  margin: 0 auto 20px auto;
  width: 490px;
}

.blog-detail-recommend-posts {
  width: 70%;
  margin: 40px auto 0 auto;
  padding-bottom: 140px;
}

.blog-detail-recommend-post {
  margin: 0 auto 30px auto;
  height: auto;
  display: flex;
}

.blog-detail-recommend-post-image {
  height: 300px;
  width: 50%;
  object-fit: cover;
}

.blog-detail-recommend-post-text {
  position: relative;
  border-top: 4px solid #71cedf;
  border-right: 5px solid #71cedf;
  border-bottom: 4px solid #71cedf;
  border-left: 5px solid #71cedf;
  background: #fff;
  width: 50%;
}

.blog-detail-recommend-post-text-title {
  color: #606060;
  font-family: "Noto Sans JP";
  font-size: 20px;
  font-weight: 350;
  margin-left: 20px;
}

.blog-detail-recommend-post-text-date {
  color: #71cedf;
  font-family: "Noto Sans JP";
  font-size: 15px;
  font-weight: 400;
  margin-top: 27px;
  margin-left: 20px;
}

.blog-detail-recommend-post-text-content {
  color: #606060;
  font-family: "Noto Sans JP";
  font-size: 16px;
  font-weight: 300;
  margin: 21px 20px 0 20px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5; /* 任意の行数を指定 */
}

.blog-detail-recommend-post-text-detail {
  position: absolute;
  right: 20px;
  bottom: 10px;
  color: #3ab7ff;
  font-family: "Noto Sans JP";
  font-size: 14px;
  font-weight: 300;
}

.blog-featured-image-md {
  display: none;
}

@media screen and (max-width: $breakpoint-md) {
  .blog-detail-title {
    padding-left: 20px;
    padding-top: 15px;
  }

  .blog-detail-title h1 {
    color: #fff;
    font-family: "Noto Sans JP";
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 5px;
  }

  .blog-detail-title p {
    color: #fff;
    font-family: "Noto Sans JP";
    font-size: 10px;
    font-weight: 300;
    letter-spacing: 2.5px;
    margin-top: 5px;
  }

  .blog-table-of-contents {
    color: #222;
    font-family: "Noto Sans JP";
    font-size: 14px !important;
    font-style: normal;
    font-weight: 350;
  }

  .blog-featured-image {
    display: none;
  }

  .blog-featured-image-md {
    display: block;
    width: 70%;
    object-fit: cover;
    margin: 40px auto 0 auto;
  }

  .blog-table-of-contents {
    color: #000;
    font-family: "Noto Sans JP";
    font-size: 38px;
    font-style: normal;
    font-weight: 400;
    margin-top: 53px;
    margin-left: 5%;
  }

  .blog-detail-content {
    margin-top: 30px;
    font-size: 14px;
    text-align: center;
  }

  .blog-main-content {
    width: 100%;
  }

  .blog-sidemenu {
    display: none;
  }

  .blog-detail-entire-wrapper {
    background: none;
  }

  .blog-detail-recommend {
    display: none;
  }

  .blog-detail-recommend-subtitle {
    color: #000;
    font-family: "Noto Sans JP";
    font-size: 16px;
    font-weight: 500;
    border: none;
    width: auto;
  }

  .blog-detail-recommend-posts {
    width: 70%;
    margin: 40px auto 0 auto;
    padding-bottom: 16px;
  }

  .blog-detail-recommend-post {
    margin: 0 auto;
    height: auto;
    display: flex;
    padding-bottom: 15px;
    border-bottom: 1px solid #71cedf;
  }

  .blog-detail-recommend-post-image {
    display: none;
  }

  .blog-detail-recommend-post-text {
    position: relative;
    border: none;
    width: 100%;
  }

  .blog-detail-recommend-post-text-title {
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 128.2%; /* 20.512px */
  }

  .blog-detail-recommend-post-text-date {
    color: #000;
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
  }

  .blog-detail-recommend-post-text-content {
    display: none;
  }

  .blog-detail-recommend-post-text-detail {
    bottom: 5px;
  }
}

// ブログ詳細ここまで

// BlogCardここから
.blog-card {
  display: block;
  width: 350px;
  height: 490px;
  margin-bottom: 50px;
  margin-left: 37.5px;
  margin-right: 37.5px;
}

.blog-card__image {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 55%;
}

.blog-card__content {
  position: relative;
  border: #71cedf 4px solid;
  height: 45%;
  background-color: white;
}
.blog-card__content_innerwrapper {
  margin: 15px 17.5px;
}

.blog-card__date {
  color: #71cedf;
  font-family: "Noto Sans JP";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.1px;
}

.blog-card__title {
  color: #606060;
  font-family: "Noto Sans JP";
  font-size: 20px;
  font-style: normal;
  font-weight: 350;
  line-height: 172.3%; /* 34.46px */
  letter-spacing: 2px;
}

.blog-card__description {
  color: #606060;
  font-family: "Noto Sans JP";
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 140%; /* 22.4px */
}

.blog-card__link {
  position: absolute;
  right: 20px;
  bottom: 10px;
  color: #3ab7ff;
  font-family: "Noto Sans JP";
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 172.3%; /* 24.122px */
}

@media screen and (max-width: $breakpoint-md) {
  .blog-card {
    display: flex;
    flex-direction: row-reverse;
    height: 85px;
    width: 100vw;
    margin: 10px auto 10px auto;
    border-bottom: 1px solid #71cedf;
    padding-bottom: 10px;
  }

  .blog-card__image {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
    margin-right: 10px;
  }

  .blog-card__content {
    position: relative;
    border: none;
    position: block;
    height: 100%;
    width: 100%;
    background-color: none;
  }
  .blog-card__content_innerwrapper {
    margin: 0;
  }

  .blog-card__date {
    position: absolute;
    bottom: 0;
    left: 10px;
    color: #71cedf;
    font-family: "Noto Sans JP";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.1px;
  }

  .blog-card__title {
    color: #606060;
    font-family: "Noto Sans JP";
    font-size: 16px;
    font-style: normal;
    font-weight: 350;
    line-height: none;
    letter-spacing: 2px;
    margin-left: 10px;
  }

  .blog-card__description {
    display: none;
  }

  .blog-card__link {
    display: none;
  }
}

// BlogCardここまで

.sokenkai__mv {
  background: #70acb6;
  height: 317px;
  width: 100vw;
}

.sokenkai__mv h1 {
  color: #fff;
  font-family: Avenir;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 12px;
  padding-top: 100px;
}

.sokenkai__mv h1 span {
  display: block;
  color: #fff;
  font-family: "Noto Sans JP";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 4.5px;
}

@media screen and (max-width: $breakpoint-md) {
  .sokenkai__mv {
    height: 100px;
    overflow: hidden;
  }

  .sokenkai__mv h1 {
    font-size: 20px;
    padding-top: 25px;
  }

  .sokenkai__mv h1 span {
    font-size: 12px;
  }
}
